%section.work.argus
  %section
    %h1 How I was a designer
    %h2
      %span.cyan at ARGUS

  %section
    %h6 Mostly:
    %h4
      %span Branding
      %span.coral Event Collateral
      %span.cyan Web Comps
      %span.blue Annuals
    %h2
      An advertising agency setup
    %h2
      Project managers
    %h2
      Less direct client interaction
    %h2
      Waterfall process

  %section
    %h6
      %span.subhead Some Work
    %h1 Be the Future U

    %a{:href => "//www.thinkargus.com/work/portfolio/dentaquest"}
      %h1
        DentaQuest

    %a{:href => "http://www.thinkargus.com/work/portfolio/mcca"}
      %h1
        MCCA
