%section.work.thoughtbot
  %section
    %h1 How I’m a designer
    %h2
      %span.red at thoughtbot

  %section
    %h6 Mostly:
    %h4
      %span.coral Product Design
      %span.cyan User Interfaces
      %span.red User Experience
      %span.blue Front-end
    %h2
      A freelancey setup
    %h2
      You manage the project
    %h2
      More direct client interaction
    %h2
      Iterative design

  %section
    %h6
      %span.subhead Some Work
    %a{:href => "//www.getfreebird.com"}
      %h1
        Freebird

    %a{:href => "https://app.vegafactor.com/reports/7fcddb97-7376-4fc7-90f2-81abab4b43ea"}
      %h1
        Vega Factor

    %a{:href => "//www.ezcater.com"}
      %h1
        ezCater
