%section.problems
  %h1 This is what it comes down to

  %h3
    %span.coral Solve problems
  %h3
    %span.orange Never stop learning
  %h3
    %span.cyan Be useful
  %h3
    %span.blue Know you’ve never made it
  %h3
    %span.red Realize it’s up to you

